@import "variables";
.navbar {
  height: 6rem;
  position:relative;
  
  .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    .logo {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .socialLinks {
      display: flex;
      gap: 1rem;
    }
  }
}
