@import "variables";
body{
  a{
    text-decoration: none;
    color: inherit;
  }
}
.page{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  background-color: rgb(2, 0, 61);
  color:rgb(202, 202, 202) ;
  section{
    height: 100vh;
    scroll-snap-align: start;

  }
}